.form-body {
  margin-top: 10px;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-container {
  width: max-content;
  margin-top: 10px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
}

